.DS_Store
*.pyc

# ignore api key directory
resources/api_keys

# ignore build log
output_database/powerwatch_build_log.txt

api_keys/fusion_tables_api_key.txt

build_databases/tester.py

build_databases/client_secrets.json

visualization/visualization_all/powerwatch_data_1102.csv

test.py

not_shared